{{question.grasshopper}}
{{question.qtitle}}
{{question.qbody}}
{{question.qnotes}}
{{question-detail question=model}}<br>



<h2>Give it to them straight.</h2>


<ul>
{{#each model.answers as |answer|}}
  <li>
    {{answer.qreply}} -By {{answer.master}}


    <button {{action 'delete' answer}}>Delete</button>
  </li>
  {{/each}}
</ul>

{{new-answer saveAnswer="saveAnswer" question=model}}
